<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>{{ "AUTH.LOGIN.TITLE" | translate }}</h2>
      <mat-error *ngIf="!loginForm.valid">
        {{ "AUTH.ERRORS.EMPTY_FIELDS" | translate }}
      </mat-error>

      <mat-form-field>
        <input
          matInput
          [placeholder]="'AUTH.PLACEHOLDERS.LOGIN' | translate"
          name="login"
          formControlName="login"
        />
        <mat-error *ngIf="loginForm.get('login')?.hasError('required')">
          {{ "AUTH.ERRORS.LOGIN_REQ" | translate }}
        </mat-error>
      </mat-form-field>

      <div class="vspacer15"></div>

      <mat-form-field>
        <input
          matInput
          type="password"
          [placeholder]="'AUTH.PLACEHOLDERS.PASS' | translate"
          name="password"
          formControlName="password"
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          {{ "AUTH.ERRORS.PASS_REQ" | translate }}
        </mat-error>
      </mat-form-field>
      <div class="vspacer40"></div>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
        {{ "AUTH.LOGIN.LOGIN_BTN" | translate }}
      </button>
    </form>
  </mat-card-content>
  <button mat-button color="primary" (click)="onSignUp()">
    {{ "AUTH.LOGIN.SIGNUP_LINK" | translate }}
  </button>
</mat-card>
