:host {
  .columns {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
    margin-left: 10px;
  }
}

mat-card {
  min-width: 250px;
  margin: 2em auto;
  text-align: center;
  background-color: #F2F2F2;
}

.add-button {
  margin-top: 2em;
  height: 100px;
}