:host {
  display: block;
  height: calc(100vh - 3 * 64px);
  overflow-y: hidden;
  @media (max-width: 599px) {
    height: calc(100vh - 3 * 56px);
  }
  .columns {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10px;
  }
}

mat-card {
  min-width: 250px;
  margin: 2em auto;
  text-align: center;
  background-color: #F2F2F2;
}

.add-button {
  margin-top: 2em;
  height: 100px;
}
