<h2 mat-dialog-title>{{getTitle()}}</h2>
  <mat-dialog-content class="login-form" [formGroup]="taskForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        Please enter a title
      </mat-error>
      <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')">
        The title is too short
      </mat-error>
      <mat-error *ngIf="taskForm.get('title')?.hasError('maxlength')">
        The title is too long
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
        Please enter a description
      </mat-error>
      <mat-error *ngIf="taskForm.get('description')?.hasError('maxlength')">
        The description is too long
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Task owner</mat-label>
      <mat-select formControlName="users">
        <mat-option *ngFor="let user of allUsers" [value]="user.id">
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

<mat-dialog-actions>
  <button
    class="mat-raised-button mat-primary"
    (click)="onCreate()">
    Submit
  </button>
  <div class="hspacer10"></div>
  <button class="mat-raised-button" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
