@import "../../../common.scss";

:host {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.auth-controls {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  min-width: 200px;
}
.info {
  align-self: center;
  display: flex;
  flex-direction: column;
  .course {
    align-self: end;
  }
  .task {
    align-self: center;
  }
  .authors-list {
    margin: 0;
    padding: 0;
  }
}
.author {
  list-style: none;
}
