<div class="auth-controls">
  <button mat-raised-button color="primary" (click)="onLogin()">
    {{ "AUTH.LOGIN.LOGIN_BTN" | translate }}
  </button>
  <div class="hspacer15"></div>
  <button mat-raised-button color="primary" (click)="onSignUp()">
    {{ "AUTH.SIGNUP.SIGNUP_BTN" | translate }}
  </button>
  <div class="hspacer15"></div>
</div>
<div class="info">
  <h2 class="course">Angular 2022Q1</h2>
  <h2 class="task">{{ "WELCOME.TASK" | translate }}</h2>
  <h1 class="task-name">Project Management Application</h1>
  <div class="team-block">
    <h2 class="team-name">{{ "WELCOME.AUTHORS" | translate }}</h2>
    <ul class="authors-list">
      <li class="author">
        <a href="https://github.com/mdz1985" target="_blank" class="author-link"
          >mdz1985</a
        >
      </li>
      <li class="author">
        <a
          href="https://github.com/john-do3"
          target="_blank"
          class="author-link"
          >john-do3</a
        >
      </li>
      <li class="author">
        <a
          href="https://github.com/AlexAbramoff"
          target="_blank"
          class="author-link"
          >alexabramoff</a
        >
      </li>
    </ul>
  </div>
</div>
<div></div>
<div></div>
<div></div>
<div></div>
