<mat-dialog-content
  [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Edit profile</h2>
  <mat-error *ngIf="!editForm.valid">
    Please fill all the fields below
  </mat-error>

  <mat-form-field>
    <input
      matInput
      placeholder="Please enter new user name"
      name="name"
      formControlName="name"
    />
    <mat-error *ngIf="editForm.get('name')?.hasError('required')">
      The name field is required
    </mat-error>
  </mat-form-field>

  <div class="vspacer15"></div>

  <mat-form-field>
    <input
      matInput
      placeholder="Please enter new login"
      name="login"
      formControlName="login"
    />
    <mat-error *ngIf="editForm.get('login')?.hasError('required')">
      The login field is required
    </mat-error>
  </mat-form-field>

  <div class="vspacer15"></div>

  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Please enter new password"
      name="password"
      formControlName="password"
    />
    <mat-error *ngIf="editForm.get('password')?.hasError('required')">
      The password is required
    </mat-error>
    <mat-error *ngIf="editForm.get('password')?.hasError('passwordStrength')">
      Your password isn't strong enough: at least 8 characters<br />
      a mixture of both uppercase and lowercase letters<br />
      a mixture of letters and numbers<br />
      inclusion of at least one special character, e.g., ! @ # ? ]<br />
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<div class="vspacer40"></div>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!editForm.valid"
    (click)="onEdit()"
  >
    Edit
  </button>
  <button mat-raised-button mat-dialog-close="false" (click)="closeDialog()">
    Cancel
  </button>
</mat-dialog-actions>
