@import "../../../common.scss";

:host {
  display: block;
  width: 250px;

  .task__button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.cdk-drag-placeholder {
  opacity: 0;
}

.task {
  margin-bottom: 10px;
}

.mat-card {
  text-align: left;
}

.avatar{
  display: flex;
}