<mat-card>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <h2>{{ "AUTH.SIGNUP.TITLE" | translate }}</h2>
      <mat-error *ngIf="!signUpForm.valid">
        {{ "AUTH.ERRORS.EMPTY_FIELDS" | translate }}
      </mat-error>

      <mat-form-field>
        <input
          matInput
          [placeholder]="'AUTH.PLACEHOLDERS.NAME' | translate"
          name="name"
          formControlName="name"
        />
        <mat-error *ngIf="signUpForm.get('name')?.hasError('required')">
          {{ "AUTH.ERRORS.NAME_REQ" | translate }}
        </mat-error>
      </mat-form-field>

      <div class="vspacer15"></div>

      <mat-form-field>
        <input
          matInput
          [placeholder]="'AUTH.PLACEHOLDERS.LOGIN' | translate"
          name="login"
          formControlName="login"
        />
        <mat-error *ngIf="signUpForm.get('login')?.hasError('required')">
          {{ "AUTH.ERRORS.LOGIN_REQ" | translate }}
        </mat-error>
      </mat-form-field>

      <div class="vspacer15"></div>

      <mat-form-field>
        <input
          matInput
          type="password"
          [placeholder]="'AUTH.PLACEHOLDERS.PASS' | translate"
          name="password"
          formControlName="password"
        />
        <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
          {{ "AUTH.ERRORS.PASS_REQ" | translate }}
        </mat-error>
        <mat-error
          *ngIf="signUpForm.get('password')?.hasError('passwordStrength')"
          [innerHTML]="'AUTH.ERRORS.PASS_VALID' | translate"
        >
        </mat-error>
      </mat-form-field>

      <div class="vspacer40"></div>

      <button mat-raised-button color="primary" [disabled]="!signUpForm.valid">
        {{ "AUTH.SIGNUP.SIGNUP_BTN" | translate }}
      </button>
    </form>
  </mat-card-content>
  <button mat-button color="primary" (click)="onLogin()">
    {{ "AUTH.SIGNUP.LOGIN_LINK" | translate }}
  </button>
</mat-card>
