<footer>
  <mat-toolbar color="primary" class="footer">
    <span class="year">© 2022</span>
    <a
      href="https://rs.school/"
      target="_blank"
      class="rs-link background-img"
    ></a>
    <div class="authors">
      <a href="https://github.com/mdz1985" target="_blank" class="author-link"
        >@mdz1985</a
      >
      <a
        href="https://github.com/AlexAbramoff"
        target="_blank"
        class="author-link"
        >@alexabramoff</a
      >
      <a href="https://github.com/john-do3" target="_blank" class="author-link"
        >@john-do3</a
      >
    </div></mat-toolbar
  >
</footer>
