<div class="column">
  <mat-card>
    <div class="columnHeader">
      <mat-card-title *ngIf="!isTitleEditing" (click)="onTitleClick()">{{
        column?.title
      }}</mat-card-title>

      <div *ngIf="isTitleEditing" class="editor">
        <input
          #columnTitle
          class="titleInput"
          type="text"
          name="value"
          value="{{ column?.title }}"
          (keydown.Enter)="saveTitle()"
          (keydown.Meta.Enter)="saveTitle()"
          (keydown.Escape)="cancelTitle()"
        />
        {{ columnTitle.focus() }}
        <button (click)="saveTitle()">Submit</button>
        <button
          (click)="cancelTitle()"
          (keydown.Enter)="cancelTitle()"
          tabindex="0"
        >
          Cancel
        </button>
      </div>

      <div class="spacer"></div>

      <div *ngIf="!isTitleEditing">
        <button
        mat-icon-button
        matTooltip="Delete column"
        (click)="onDeleteColumnClick(column?.id)"
      >
        <mat-icon>clear</mat-icon>
      </button>
      </div>
    </div>

    <mat-card-content
      cdkDropList
      [cdkDropListData]="tasks$ | async"
      [id]="columnId"
      [cdkDropListConnectedTo]="columnsIdArray"


      (cdkDropListDropped)="drop($event)"
    >
      <app-task *ngFor="let task of tasks$ | async" [task]="task" [cdkDragData]="task" cdkDrag>
      </app-task>
      <button mat-raised-button color="primary" (click)="onNewTaskClick()">New task</button>
    </mat-card-content>
  </mat-card>
</div>

