<h2 mat-dialog-title>{{ "MODALS.TASK.TITLE" | translate }}</h2>
<mat-dialog-content class="login-form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>{{ "MODALS.TASK.PLACEHOLDER_TITLE" | translate }}</mat-label>
    <input matInput [formControl]="title" />
    <mat-error *ngIf="title.invalid">{{ getTitleErrorMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "MODALS.TASK.PLACEHOLDER_DESCR" | translate }}</mat-label>
    <input matInput [formControl]="description" />
    <mat-error *ngIf="description.invalid">{{
      getDescriptionErrorMessage
    }}</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="onCreate()">
    {{ "MODALS.TASK.OK" | translate }}
  </button>
  <div class="hspacer10"></div>
  <button class="mat-raised-button" (click)="onCancel()">
    {{ "MODALS.TASK.CANCEL" | translate }}
  </button>
</mat-dialog-actions>

<!--    (submit)="onSubmit()"-->
