<h2 mat-dialog-title>Create column</h2>

<mat-dialog-content [formGroup]="createDialog">
  <mat-form-field>
    <input matInput placeholder="Column title" formControlName="columnTitle" />
    <mat-error *ngIf="createDialog.get('columnTitle')?.hasError('required')">
      Column title is required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="mat-raised-button mat-primary"
    (click)="onCreate()"    
  >
    Create
  </button>
  <div class="hspacer10"></div>
  <button class="mat-raised-button" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>

