<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuClick()" matTooltip="Boards menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PM App</span>
  <ng-container *ngIf="isLoggedIn">
    <div class="hspacer15"></div>
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn">
    <button mat-icon-button (click)="onEditProfile()" matTooltip="Edit profile for [{{ userLogin }}]">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Delete [{{ userLogin }}]"
      (click)="onDeleteUser()"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout" (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <div class="hspacer10"></div>
  </ng-container>
  <mat-slide-toggle
    class="example-margin"
    matTooltip="Switch language"
    [(ngModel)]="isLangSlideToggled"
  >
    {{ GetLangName() }}
  </mat-slide-toggle>
  <div class="hspacer10"></div>
</mat-toolbar>
